.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv/
.env
.env.local
ejercicios
entrenador_ia.db
*.db
frontend
Historico partidas
node_modules
.git
.gitignore
.pytest_cache
.mypy_cache
tests
dist
build
*.log
